@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fonte-padrao: 'Rubik', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: $fonte-padrao;
    color: $cor-texto;
    background: {
        color: $cor-fundo;
    }
}

.header-nav {
    background-color: transparent;
}

.logo-header {
    max-width: 240px;
}

.header-nav, .titulo-secao {
    text-transform: uppercase;
}

.seta {
    max-width: 160px;
    display: inline-block;
    margin-left: 45%;
    margin-top: 4rem;

    background-color: rgba(0, 0, 0, 0.1);
}

p:not(.texto), .botao {
    font-variant: small-caps;
}

.secao{
    height: 100vh;
    padding: 1rem;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    }
    text-shadow:  1px 1px 2px black;

    div.conteudo-secao {
        margin-top: 8rem;
    }

    h2 {
        font-weight: 400;
    }

    .botao {
        font-size: 1.3rem;
        padding: 1rem 3rem;
        margin-top: 2rem;
        border: 2px solid $cor-texto;
        &:hover {
            background-color: $cor-texto;
        }
    }
}

.contato {
    height: 95vh;
    div {
        padding-top: 15rem;
    }
    a {
        color: $cor-copyright;
        text-decoration: none;
        border-bottom: 1px solid $cor-copyright;
    }
}

.footer {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .footer-texto {
        color: $cor-copyright;
    }

    .footer-botao {
        color: $cor-texto;
        border-color: $cor-texto;
        &:hover {
            color: $cor-fundo;
            border-color: $cor-texto;
        }
    }
}

@media screen and (max-width: 545px) {
    html {
        font-size: 12px;
    }
    .footer {
        height: fit-content;
        padding: 1rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}