#home-secao1 {
    background-image: url('../../img/home/01.jpg');
}

#home-secao2 {
    background-image: url('../../img/home/02.jpg');
}

#home-secao3 {
    background-image: url('../../img/home/03.gif');
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.25);
}

#home-secao4 {
    background-image: url('../../img/home/04.jpg');
}